<p-toast></p-toast>
<div class="container-fluid"><br><br>
    <div class="row" style="padding-right: 2%;">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 border border-3 form">
            <form class="sign-up" #userForm="ngForm" *ngIf="correctUser == false">
                <div class="mb-3">
                    <h4>Reset Password</h4>
                    <hr>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                [(ngModel)]="users.firstName" #firstNameCtrl="ngModel" placeholder="First name"
                                required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                [(ngModel)]="users.lastName" #lastNameCtrl="ngModel" placeholder="Last name" required>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="dob" name="dob" [(ngModel)]="users.dob"
                        #dobCtrl="ngModel" placeholder="Date of birth (dd-MM-yyyy)" required>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="userName" name="userName" [(ngModel)]="users.userName"
                        #emailCtrl="ngModel" placeholder="Email address" aria-describedby="emailHelp" required>
                </div>
            </form>
            <div class="mb-3" *ngIf="correctUser == true">
                <br>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="users.password"
                    #passwordCtrl="ngModel" placeholder="Enter New Password" required>
            </div>
            <div style="padding-left: 1em;"><button type="submit" class="btn btn-primary" (click)="resetPassword()"
                    [disabled]="users.firstName=='' || users.lastName=='' || users.userName=='' || users.dob==''"
                    *ngIf="correctUser == false">Reset Password</button></div>
            <div style="padding-left: 1em;"><button type="submit" class="btn btn-primary" (click)="updatePassword()"
                    [disabled]="users.password==''" *ngIf="correctUser == true">Reset Password</button></div> <br>
            <div style="padding-left: 1em;">
                <a [routerLink]="['/dashboard']">Back to dashboard</a><br><br>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>

</div>